body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#ececec;
}

/* LOGIN */

.login{
width:350px;
margin:120px auto;
padding:30px;
background:white;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
text-align:center;
}

.login h2{
margin-bottom:20px;
color:#5c1b1b;
}

.login input,
.login select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

.login button{
width:100%;
padding:12px;
margin-top:10px;
background:#7b1111;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

.login button:hover{
background:#5a0d0d;
}

/* DASHBOARD */

.dashboard{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#1e1e2f;
color:white;
padding:20px;
}

.sidebar button{
width:100%;
padding:10px;
background:crimson;
border:none;
color:white;
margin-top:20px;
cursor:pointer;
}

.main{
flex:1;
padding:30px;
background:#f5f5f5;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card input{
width:100%;
padding:10px;
margin:5px 0;
}

.card button{
padding:10px;
background:#28a745;
border:none;
color:white;
cursor:pointer;
margin-top:10px;
}

.hidden{
display:none;
}

.contenedor-pedidos{
display:flex;
flex-wrap:wrap;
gap:15px;
margin-top:20px;
}

.pedido-card{
background:#ffffff;
border-radius:10px;
padding:15px;
width:200px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}